<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Music</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- 部署注册请求服务 -->
  <servlet>
  	<servlet-name>registerService</servlet-name>
  	<servlet-class>com.minos.service.registerService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerService</servlet-name>
  	<url-pattern>/registerService.do</url-pattern>
  </servlet-mapping>
<!-- 部署登录请求服务 -->
<servlet>
  	<servlet-name>loginService</servlet-name>
  	<servlet-class>com.minos.service.loginService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/loginService.do</url-pattern>
  </servlet-mapping>
<!-- 发现请求服务 -->
<servlet>
  	<servlet-name>discoverService</servlet-name>
  	<servlet-class>com.minos.service.discoverService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>discoverService</servlet-name>
  	<url-pattern>/discoverService.do</url-pattern>
  </servlet-mapping>
</web-app>